.logo {
    width: 50px;
}

.container {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 11px;
}

.col-md-2 {
    margin-left: 12px;
    margin-right: 26px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.ul :hover {
    color: black;
}

.h6 {
    margin-left: 35px;
}

.fab {
    color: rgb(46, 113, 221);
    width: 20px;
    height: 10px;
    font-size: 15px;
}

.p-1 {
    margin-top: 5px;
    margin-bottom: 10px;
}

.foooter-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.top-image {
    margin-left: 250px;
}

.Top {
    margin-left: 20px;
    color: black;
}

.Top-ul {
    margin-left: 120px;
}